{
  "extends": "standard",
  "rules": {
    "comma-dangle": [0]
  },
  "globals": {
    "StemSkeleton": true,
    "expect": true,
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  }
}
